---
import '../styles/global.css'
---

<!doctype html>
<html lang="es" class="w-full h-full m-0">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>InfoNetHack</title>
  </head>
  <body class="w-full min-h-screen m-0 bg-background">
    <header class="sticky top-0 p-4 w-full bg-surface shadow-md z-50 flex flex-col items-center justify-center">
      <h1 class="py-2 m-0 text-5xl font-semibold text-text">InfoNetHack</h1>
      <span class="text-center text-muted">Noticias sobre desarrollo, tecnología, hacking y mucho más.</span>
    </header>
    <main class="w-full">
      <slot />
    </main>
    <footer class="sticky bottom-0 w-full p-4 text-white bg-surface">
      <span class="text-muted">&copy; Todos los derechos reservados</span>
    </footer>
  </body>
</html>
